<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Árbol Dinástico Europeo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div id="viewport">
        <div id="canvas">
            <object id="mi-arbol" type="image/svg+xml" data="{{ url_for('static', filename='ReyesEuropeos.svg') }}"></object>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

